li{
    display: inline;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    border-right: 2px solid #bbb;
}
.about{
    float: right;
}
a{
    padding: 10px;
    color: rgb(0, 0, 0);
}
ul{
    background-color: bisque;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
}
li a {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    
}
li a:hover {
    background-color: rgb(255, 255, 255);
}
li:last-child {
    border-right: none;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.lion{
    background-image: url(lion.jpg);
    background-size: 40% 40%;
    background-repeat: no-repeat;
    
}
